body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("index2.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a:link, a:visited {
    color: (#ff0000);
    text-decoration: underline;
    cursor: auto;
}
a:link:active, a:visited:active {
    color: (#8b0000);
}
